# Dependency/Environment Folders
venv/
__pycache__/
.vscode/

# Compiled Files
*.pyc
*.o
*.so

# Operating System Files
.DS_Store

# Temporary Files / Output
*.log
*.zip
*.tar.gz

prometheus.yml
router_proxy.py
metrics_scraper.py
main_test.py
docker-compose.yml
chaos_consumer.py
baseline_router.py